<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'recipes/partials/head.html' %}
    <title>{% block title %}{% endblock %} Recipes</title> 

</head>
<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-detail container">
            {% block content %}
            {% endblock %}

            {% include 'recipes/partials/pagination.html' %}      
        </div>
    </main>
    {% include 'recipes/partials/footer.html' %}
</body>

</html>